<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>转辙机缺口监测系统</title>
    <link rel="stylesheet" type="text/css" href="static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/system.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/mysystemconf.css"/>
</head>

<body>

<div class="w_1200 fw_box">
    <div class="left_nav">
        <ul class="bzzx_nav_list">
            <li><a href="/system" class="icon_7">系统初始化</a></li>
            <li><a href="/img" class="icon_5">图像采集</a></li>
            <li class="on"><a href="/system_conf" class="icon_2"> Lora地址配置</a></li>
            <li><a href="/dis" class="icon_3">缺口距离展示</a></li>
<!--            <li><a href="#" class="icon_4"> 模块</a></li>-->
<!--            <li><a href="#" class="icon_5"> 模块</a></li>-->
<!--            <li><a href="#" class="icon_6"> 模块</a></li>-->
<!--            <li><a href="#" class="icon_7"> 模块</a></li>-->
        </ul>
    </div>
    <div class="fw_conent">
        <!--内容开始------------------------------>
        <div class="bzzx_bt">
            <strong>Lora地址配置</strong>
        </div>
        <div class="my_addr">
            {{.addrs}}
        </div>
        <div class="my_form">
            <form method="post" , action="/system_conf">
                <input type="text" name="addrs">
                <div class="my_button">
                    <input class="btn" name="msg" type="submit" value="增加">
                    <input class="btn" name="msg" type="submit" value="删除">
                </div>
            </form>
        </div>



    </div>
</div>


<script src="/static/js/jquery-3.5.1.js"></script>

<script>
    $(document).ready(function () {
        let addrs = {{.addrs}}
        for (let i = 0; i < addrs.length; i++) {
            $("#select_one").append("<option value='" + addrs[i] + "1'>" + addrs[i] + "</option>")
        }
    })
</script>


</body>


</html>
